{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Set Password{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/auth/style.css">
{% endblock %}

{% block main_body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4 bg-white custom-login-container shadow-lg d-flex align-items-center">
      <div class="container ml-4">
        <h2 class="display-4 fw-bold">Welcome</h2>
        <p class="mb-4">Enter your new password</p>
        <form class="w-75 password_set" method=post>

          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-grid gap-2 col-12 mx-auto mt-4">
            <button class="btn btn-primary fw-bold custom-login-button" type="submit" value="Set Password">Change
              Password</button>
            <a href="{% url 'account_signin' %}" class="btn btn-outline-primary mt-3 fw-bold custom-login-button">Sign
              up</a>

          </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}