{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/auth/style.css">
{% endblock %}

{% block main_body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4 bg-white custom-login-container shadow-lg d-flex align-items-center">
      <div class="container ml-4">
        <h2 class="display-4 fw-bold">Forgot password?</h2>
        <p class="mb-4">Please, enter your email to reset the password</p>
        <form class="w-75" method=post action="{% url 'account_reset_password' %}">

          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-grid gap-2 col-12 mx-auto mt-4">
            <button class="btn btn-primary fw-bold custom-login-button password_reset" type="submit">Reset
              Password</button>
          </div>

      </div>
    </div>
  </div>
</div>
{% endblock main_body %}