{% extends '_skeleton.html' %}
{% load crispy_forms_tags %}
{% block title %}Automation{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block content %}

<form action="{% url 'automation.patch.jenkinsfile' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary mt-3 cutom-button" type="submit" name="button" value="Submit">Submit</button>
    <button class="btn btn-outline-primary mt-3 cutom-button" type="submit" name="button" value="Load">Load</button>
</form>

{% endblock content %}